In [54]:
import pandas as pd

In [55]:
# Create DataFrame with balance.txt
df = pd.read_csv('balance.txt', sep=' ')

In [56]:
# Top of the balance list, testing that the list appears
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [57]:
# Bottom of the balance list
df.tail()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [58]:
# Comparing the average income based of ethnicity
avg_income_by_ethnicity = df.groupby('Ethnicity')['Income'].mean()
print(avg_income_by_ethnicity)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [59]:
# Finding out who has the highest balance between married and single people
avg_balance_by_status = df.groupby('Married')['Balance'].mean()
print(avg_balance_by_status )

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [60]:
# Finding out the highest income in the data set
max_income = df['Income'].max()
print(max_income)

186.634

In [61]:
# Finding the lowest income in the set
min_income = df['Income'].min()
print(min_income)

10.354

In [62]:
# How many cards have we recorded in our dataset
total_cards = df['Cards'].sum()
print(total_cards)

1183

In [63]:
# How many females do we have information for vs how many males
male_count = df['Gender'].tolist().count('Male')
female_count = df['Gender'].tolist().count('Female')
print("Male:", male_count)
print("Female:", female_count)

Male: 193
Female: 207